@tailwind base;
@tailwind components;
@tailwind utilities;

li > span {
  display: block;
  margin-left: 2.5rem;
}

.counter li {
  counter-increment: id;
}

.counter li::before {
  content: counter(id) '.';
}

.table-row:not(:last-child) {
  border-bottom: 1px solid #e3ddd7;
}

.table-row td {
  padding-block: 0.75rem;
}

.table-row:first-child td {
  padding-top: 0;
}

.table-row:last-child td {
  padding-bottom: 0;
}
